<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.hardware.audio.output" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/TemaMesinRakit"
        android:hardwareAccelerated="true"
        android:isGame="true"
        android:supportsRtl="false">

        <activity
            android:name="id.mesinrakit.MainActivity"
            android:screenOrientation="sensorLandscape"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|screenLayout|uiMode|density|fontScale"
            android:launchMode="singleTask"
            android:exported="true"
            android:resizeableActivity="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- layar laporan error, proses terpisah supaya tetap muncul
             walaupun proses utama sudah dimatikan sistem -->
        <activity
            android:name="id.mesinrakit.LaporActivity"
            android:process=":lapor"
            android:exported="false"
            android:label="Laporan Error"
            android:theme="@style/TemaLapor" />
    </application>
</manifest>
